﻿.dijitReset {
    border: 0 none;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}
.dijit_a11y .dijitReset {
    -moz-appearance: none;
}
.dijitInline {
    border: 0 none;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}
table.dijitInline {
    -moz-box-sizing: content-box;
    display: inline-table;
}
.dijitHidden {
    display: none !important;
}
.dijitVisible {
    display: block !important;
    position: relative;
}
.dijitInputContainer {
    float: none !important;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.dj_ie input.dijitTextBox, .dj_ie .dijitTextBox input {
    font-size: 100%;
}
.dijitTextBox .dijitSpinnerButtonContainer, .dijitTextBox .dijitArrowButtonContainer, .dijitTextBox .dijitValidationContainer {
    float: right;
    text-align: center;
}
.dijitTextBox input.dijitInputField {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.dijitTextBox .dijitValidationContainer {
    display: none;
}
.dijitTeeny {
    font-size: 1px;
    line-height: 1px;
}
.dijitOffScreen {
    left: 50%;
    position: absolute;
    top: -10000px;
}
.dijitPopup {
    background-color: transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
    position: absolute;
}
.dijitPositionOnly {
    background-color: transparent !important;
    background-image: none !important;
    border: 0 none !important;
    height: auto !important;
    padding: 0 !important;
    width: auto !important;
}
.dijitNonPositionOnly {
    float: none !important;
    margin: 0 !important;
    position: static !important;
    vertical-align: middle !important;
}
.dijitBackgroundIframe {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.dijitDisplayNone {
    display: none !important;
}
.dijitContainer {
    overflow: hidden;
}
.dijit_a11y .dijitIcon, .dijit_a11y div.dijitArrowButtonInner, .dijit_a11y span.dijitArrowButtonInner, .dijit_a11y img.dijitArrowButtonInner, .dijit_a11y .dijitCalendarIncrementControl, .dijit_a11y .dijitTreeExpando {
    display: none;
}
.dijitSpinner div.dijitArrowButtonInner {
    display: block;
}
.dijit_a11y .dijitA11ySideArrow {
    cursor: pointer;
    display: inline !important;
}
.dijit_a11y .dijitCalendarDateLabel {
    border: 0 none !important;
    padding: 1px;
}
.dijit_a11y .dijitCalendarSelectedDate .dijitCalendarDateLabel {
    border-style: solid !important;
    border-width: 1px !important;
    padding: 0;
}
.dijit_a11y .dijitCalendarDateTemplate {
    border: 0 none !important;
    padding-bottom: 0.1em !important;
}
.dijit_a11y .dijitButtonNode {
    border: medium outset black !important;
    padding: 0 !important;
}
.dijit_a11y .dijitButtonContents {
    margin: 0.15em;
}
.dijit_a11y .dijitTextBoxReadOnly .dijitInputField, .dijit_a11y .dijitTextBoxReadOnly .dijitButtonNode {
    border-color: #999999 !important;
    border-style: outset !important;
    border-width: medium !important;
    color: #999999 !important;
}
.dijitButtonNode * {
    vertical-align: middle;
}
.dijitButtonNode .dijitArrowButtonInner {
    background: none no-repeat scroll center center transparent;
    direction: ltr;
    height: 12px;
    width: 12px;
}
.dijitLeft {
    background-position: left top;
    background-repeat: no-repeat;
}
.dijitStretch {
    background-repeat: repeat-x;
    white-space: nowrap;
}
.dijitRight {
    background-position: right top;
    background-repeat: no-repeat;
}
.dj_gecko .dijit_a11y .dijitButtonDisabled .dijitButtonNode {
    opacity: 0.5;
}
.dijitToggleButton, .dijitButton, .dijitDropDownButton, .dijitComboButton {
    margin: 0.2em;
    vertical-align: middle;
}
.dijitButtonContents {
    display: block;
}
td.dijitButtonContents {
    display: table-cell;
}
.dijitButtonNode img {
    vertical-align: middle;
}
.dijitToolbar .dijitComboButton {
    border-collapse: separate;
}
.dijitToolbar .dijitToggleButton, .dijitToolbar .dijitButton, .dijitToolbar .dijitDropDownButton, .dijitToolbar .dijitComboButton {
    margin: 0;
}
.dijitToolbar .dijitButtonContents {
    padding: 1px 2px;
}
.dj_webkit .dijitToolbar .dijitDropDownButton {
    padding-left: 0.3em;
}
.dj_gecko .dijitToolbar .dijitButtonNode::-moz-focus-inner {
    padding: 0;
}
.dijitButtonNode {
    border: 1px solid gray;
    line-height: normal;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.dj_webkit .dijitSpinner .dijitSpinnerButtonContainer {
    line-height: inherit;
}
.dijitTextBox .dijitButtonNode {
    border-width: 0;
}
.dijitButtonNode, .dijitButtonNode * {
    cursor: pointer;
}
.dj_ie .dijitButtonNode {
}
.dj_ie .dijitButtonNode button {
    overflow: visible;
}
div.dijitArrowButton {
    float: right;
}
.dijitTextBox {
    border: 1px solid black;
    vertical-align: middle;
    width: 15em;
}
.dijitTextBoxReadOnly, .dijitTextBoxDisabled {
    color: gray;
}
.dj_webkit .dijitTextBoxDisabled input {
    color: #EEEEEE;
}
.dj_webkit textarea.dijitTextAreaDisabled {
    color: #333333;
}
.dj_gecko .dijitTextBoxReadOnly input.dijitInputField, .dj_gecko .dijitTextBoxDisabled input {
    -moz-user-input: none;
}
.dijitPlaceHolder {
    color: #AAAAAA;
    font-style: italic;
    left: 0;
    position: absolute;
    top: 0;
}
.dijitTimeTextBox {
    width: 8em;
}
.dijitTextBox input:focus {
    outline: medium none;
}
.dijitTextBoxFocused {
}
.dijitTextBox input {
    float: left;
}
.dijitInputInner {
    background-color: transparent !important;
    border: 0 none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    vertical-align: middle !important;
    width: 100% !important;
}
.dijit_a11y .dijitTextBox input {
    margin: 0 !important;
}
.dijitTextBoxError input.dijitValidationInner, .dijitTextBox input.dijitArrowButtonInner {
    direction: ltr !important;
    height: auto !important;
    text-align: left !important;
    text-indent: -1em !important;
}
.dj_ie .dijitTextBox input, .dj_ie input.dijitTextBox {
    line-height: normal;
    overflow-y: visible;
}
.dj_ie7 .dijitTextBox input.dijitValidationInner, .dj_ie7 .dijitTextBox input.dijitArrowButtonInner {
    line-height: 86%;
}
.dj_ie6 .dijitTextBox input, .dj_ie6 input.dijitTextBox, .dj_iequirks .dijitTextBox input.dijitValidationInner, .dj_iequirks .dijitTextBox input.dijitArrowButtonInner, .dj_iequirks .dijitTextBox input.dijitSpinnerButtonInner, .dj_iequirks .dijitTextBox input.dijitInputInner, .dj_iequirks input.dijitTextBox {
    line-height: 100%;
}
.dijit_a11y input.dijitValidationInner, .dijit_a11y input.dijitArrowButtonInner {
    text-indent: 0 !important;
    width: 1em !important;
}
.dijitTextBoxError .dijitValidationContainer {
    cursor: default;
    display: inline;
}
.dijitSpinner .dijitSpinnerButtonContainer, .dijitComboBox .dijitArrowButtonContainer {
    border-width: 0 0 0 1px !important;
}
.dijitToolbar .dijitComboBox .dijitArrowButtonContainer {
    border-width: 0 !important;
}
.dijitComboBoxMenu {
    list-style-type: none;
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitButtonNode {
    border-width: 0;
}
.dj_ie .dijit_a11y .dijitSpinner .dijitSpinnerButtonContainer .dijitButtonNode {
    clear: both;
}
.dj_ie .dijitToolbar .dijitComboBox {
    vertical-align: middle;
}
.dijitTextBox .dijitSpinnerButtonContainer {
    overflow: hidden;
    position: relative !important;
    width: 1em;
}
.dijitSpinner .dijitSpinnerButtonInner {
    overflow-x: hidden;
    visibility: hidden !important;
    width: 1em;
}
.dijitComboBox .dijitButtonNode, .dijitSpinnerButtonContainer .dijitButtonNode {
    border-width: 0;
}
.dijit_a11y .dijitSpinnerButtonContainer .dijitButtonNode {
    border: 0 none !important;
}
.dijit_a11y .dijitTextBox .dijitSpinnerButtonContainer, .dijit_a11y .dijitSpinner .dijitArrowButtonInner, .dijit_a11y .dijitSpinnerButtonContainer input {
    width: 1em !important;
}
.dijit_a11y .dijitSpinner .dijitArrowButtonInner {
    margin: 0 auto !important;
}
.dj_ie .dijit_a11y .dijitSpinner .dijitArrowButtonInner .dijitInputField {
    margin-left: 0.3em !important;
    margin-right: 0.3em !important;
    padding-left: 0.3em !important;
    padding-right: 0.3em !important;
    width: 1.4em !important;
}
.dj_ie7 .dijit_a11y .dijitSpinner .dijitArrowButtonInner .dijitInputField {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 1em !important;
}
.dj_ie6 .dijit_a11y .dijitSpinner .dijitArrowButtonInner .dijitInputField {
    margin-left: 0.1em !important;
    margin-right: 0.1em !important;
    width: 1em !important;
}
.dj_iequirks .dijit_a11y .dijitSpinner .dijitArrowButtonInner .dijitInputField {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 2em !important;
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
    bottom: auto;
    float: none;
    height: 50%;
    left: 0;
    padding: 0;
    position: absolute !important;
    right: auto;
    width: 100%;
}
.dj_iequirks .dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
    width: auto;
}
.dijit_a11y .dijitSpinnerButtonContainer .dijitArrowButton {
    overflow: visible !important;
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitDownArrowButton {
    border-top-width: 1px !important;
    top: 50%;
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitUpArrowButton {
    top: 0;
}
.dijitSpinner .dijitArrowButtonInner {
    height: 100% !important;
    margin: auto;
    overflow-x: hidden;
}
.dj_iequirks .dijitSpinner .dijitArrowButtonInner {
    height: auto !important;
}
.dijitSpinner .dijitArrowButtonInner .dijitInputField {
    padding-bottom: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0;
    transform: scale(0.5);
    transform-origin: left top 0;
    width: 100%;
}
.dj_ie .dijitSpinner .dijitArrowButtonInner .dijitInputField {
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButtonInner {
    overflow: hidden;
}
.dijit_a11y .dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
    width: 100%;
}
.dj_iequirks .dijit_a11y .dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
    width: 1em;
}
.dijitSpinner .dijitArrowButtonInner .dijitInputField {
    visibility: hidden;
}
.dijit_a11y .dijitSpinner .dijitArrowButtonInner .dijitInputField {
    vertical-align: top;
    visibility: visible;
}
.dijit_a11y .dijitSpinnerButtonContainer {
    width: 1em;
}
.dijit_a11y .dijitSpinnerButtonContainer .dijitButtonNode {
    border-style: solid !important;
    border-width: 1px 0 0;
}
.dijitCheckBox, .dijitRadio, .dijitCheckBoxInput {
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    height: 16px;
    overflow: hidden;
    padding: 0;
    width: 16px;
}
.dijitCheckBox input, .dijitRadio input {
    display: block;
    margin: 0;
    padding: 0;
}
.dijitCheckBoxInput {
    opacity: 0.01;
}
.dj_ie .dijitCheckBoxInput {
}
.dijit_a11y .dijitCheckBox, .dijit_a11y .dijitRadio {
    height: auto !important;
    width: auto !important;
}
.dijit_a11y .dijitCheckBoxInput {
    filter: none;
    height: auto;
    opacity: 1;
    width: auto;
}
.dijit_a11y .dijitFocusedLabel {
    border: 1px dotted;
    outline: 0 none !important;
}
.dijitProgressBarEmpty {
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.dijitProgressBarFull {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.dj_ie6 .dijitProgressBarFull {
    height: 1.6em;
}
.dijitProgressBarTile {
    background-attachment: fixed;
    background-color: #AAAAAA;
    bottom: 0;
    height: auto;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.dijit_a11y .dijitProgressBarTile {
    background-color: transparent !important;
    border-style: solid;
    border-width: 2px;
}
.dj_ie6 .dijitProgressBarTile {
    height: 1.6em;
    position: static;
}
.dijitProgressBarIndeterminate .dijitProgressBarTile {
}
.dijitProgressBarIndeterminateHighContrastImage {
    display: none;
}
.dijit_a11y .dijitProgressBarIndeterminate .dijitProgressBarIndeterminateHighContrastImage {
    bottom: 0;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.dijitProgressBarLabel {
    background-color: transparent !important;
    display: block;
    position: static;
    text-align: center;
    width: 100%;
}
.dijitTooltip {
    display: block;
    left: 0;
    overflow: visible;
    position: absolute;
    top: -10000px;
    z-index: 2000;
}
.dijitTooltipContainer {
    background: none repeat scroll 0 0 #B8B5B5;
    border: 2px solid black;
    color: black;
    font-size: small;
}
.dijitTooltipFocusNode {
    padding: 2px;
}
.dijitTooltipConnector {
    position: absolute;
}
.dijit_a11y .dijitTooltipConnector {
    display: none;
}
.dijitTooltipData {
    display: none;
}
.dijitLayoutContainer {
    display: block;
    overflow: hidden;
    position: relative;
}
.dijitAlignTop, .dijitAlignBottom, .dijitAlignLeft, .dijitAlignRight {
    overflow: hidden;
    position: absolute;
}
body .dijitAlignClient {
    position: absolute;
}
.dijitBorderContainer, .dijitBorderContainerNoGutter {
    overflow: hidden;
    position: relative;
}
.dijitBorderContainerPane, .dijitBorderContainerNoGutterPane {
    position: absolute !important;
    z-index: 2;
}
.dijitBorderContainer > .dijitTextArea {
    resize: none;
}
.dijitGutter {
    font-size: 1px;
    position: absolute;
}
.dijitSplitter {
    background-color: #FFFFFF;
    border-color: gray;
    border-style: solid;
    border-width: 0;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}
.dj_ie .dijitSplitter {
    z-index: 1;
}
.dijitSplitterActive {
    z-index: 11 !important;
}
.dijitSplitterCover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.dijitSplitterCoverActive {
    z-index: 3 !important;
}
.dj_ie .dijitSplitterCover {
    background: none repeat scroll 0 0 white;
}
.dijitSplitterH {
    border-bottom: 1px none;
    border-top: 1px none;
    cursor: row-resize;
    height: 7px;
}
.dijitSplitterV {
    border-left: 1px none;
    border-right: 1px none;
    cursor: col-resize;
    width: 7px;
}
.dijitSplitContainer {
    display: block;
    overflow: hidden;
    position: relative;
}
.dj_ff3 .dijit_a11y div.dijitSplitter:focus {
    outline-style: dotted;
    outline-width: 2px;
}
.dijitSplitPane {
    position: absolute;
}
.dijitSplitContainerSizerH, .dijitSplitContainerSizerV {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: threedface;
    border-color: threedhighlight threedshadow threedshadow threedhighlight;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    font-size: 1px;
    margin: 0;
    position: absolute;
}
.dijitSplitContainerSizerH .thumb, .dijitSplitterV .dijitSplitterThumb {
    overflow: hidden;
    position: absolute;
    top: 49%;
}
.dijitSplitContainerSizerV .thumb, .dijitSplitterH .dijitSplitterThumb {
    left: 49%;
    position: absolute;
}
.dijitSplitterShadow, .dijitSplitContainerVirtualSizerH, .dijitSplitContainerVirtualSizerV {
    background-color: threedshadow;
    font-size: 1px;
    margin: 0;
    opacity: 0.5;
}
.dijitSplitContainerSizerH, .dijitSplitContainerVirtualSizerH {
    cursor: col-resize;
}
.dijitSplitContainerSizerV, .dijitSplitContainerVirtualSizerV {
    cursor: row-resize;
}
.dijit_a11y .dijitSplitterH {
    border-bottom: 1px solid #D3D3D3 !important;
    border-top: 1px solid #D3D3D3 !important;
}
.dijit_a11y .dijitSplitterV {
    border-left: 1px solid #D3D3D3 !important;
    border-right: 1px solid #D3D3D3 !important;
}
.dijitContentPane {
    display: block;
    overflow: auto;
}
.dijitContentPaneSingleChild {
    overflow: hidden;
}
.dijitContentPaneLoading .dijitIconLoading, .dijitContentPaneError .dijitIconError {
    margin-right: 9px;
}
.dijitTitlePane {
    display: block;
    overflow: hidden;
}
.dijitTitlePaneTitle {
    cursor: pointer;
}
.dijitFixedOpen, .dijitFixedClosed {
    cursor: default;
}
.dijitTitlePaneTitle * {
    vertical-align: middle;
}
.dijitTitlePane .dijitArrowNodeInner {
    display: none;
}
.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
    display: inline !important;
    font-family: monospace;
}
.dijit_a11y .dijitTitlePane .dijitArrowNode {
    display: none;
}
.dj_ie6 .dijitTitlePaneContentOuter, .dj_ie6 .dijitTitlePane .dijitTitlePaneTitle {
}
.dijitColorPalette {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    position: relative;
}
.dijitColorPalette .dijitPaletteTable {
    border-collapse: separate;
    outline: 0 none;
    overflow: hidden;
    padding: 2px 3px 3px;
    position: relative;
}
.dj_ie6 .dijitColorPalette .dijitPaletteTable, .dj_ie7 .dijitColorPalette .dijitPaletteTable, .dj_iequirks .dijitColorPalette .dijitPaletteTable {
    margin: 2px 3px 3px;
    padding: 0;
}
.dijitColorPalette .dijitPaletteCell {
    background: none repeat scroll 0 0 transparent;
    font-size: 1px;
    text-align: center;
    vertical-align: middle;
}
.dijitColorPalette .dijitPaletteImg {
    border: 1px solid #999999;
    cursor: default;
    font-size: 1px;
    margin: 2px 1px;
    padding: 1px;
}
.dj_gecko .dijitColorPalette .dijitPaletteImg {
    padding-bottom: 0;
}
.dijitColorPalette .dijitColorPaletteSwatch {
    height: 12px;
    width: 14px;
}
.dijitPaletteTable td {
    padding: 0;
}
.dijitColorPalette .dijitPaletteCell:hover .dijitPaletteImg {
    border: 1px solid #000000;
}
.dijitColorPalette .dijitPaletteCell:active .dijitPaletteImg, .dijitColorPalette .dijitPaletteTable .dijitPaletteCellSelected .dijitPaletteImg {
    border: 2px solid #000000;
    margin: 1px 0;
}
.dijit_a11y .dijitColorPalette .dijitPaletteTable, .dijit_a11y .dijitColorPalette .dijitPaletteTable * {
    background-color: transparent !important;
}
.dijitAccordionContainer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 1px solid #B7B7B7;
    border-image: none;
    border-left: 1px solid #B7B7B7;
    border-right: 1px solid #B7B7B7;
    border-top: 0 none !important;
}
.dijitAccordionTitle {
    cursor: pointer;
}
.dijitAccordionTitleSelected {
    cursor: default;
}
.dijitAccordionTitle .arrowTextUp, .dijitAccordionTitle .arrowTextDown {
    display: none;
    font-size: 0.65em;
    font-weight: normal !important;
}
.dijit_a11y .dijitAccordionTitle .arrowTextUp, .dijit_a11y .dijitAccordionTitleSelected .arrowTextDown {
    display: inline;
}
.dijit_a11y .dijitAccordionTitleSelected .arrowTextUp {
    display: none;
}
.dijitAccordionChildWrapper {
    overflow: hidden;
}
.dijitCalendarContainer {
    width: auto;
}
.dijitCalendarContainer th, .dijitCalendarContainer td {
    padding: 0;
    vertical-align: middle;
}
.dijitCalendarYearLabel {
    white-space: nowrap;
}
.dijitCalendarNextYear {
    margin: 0 0 0 0.55em;
}
.dijitCalendarPreviousYear {
    margin: 0 0.55em 0 0;
}
.dijitCalendarIncrementControl {
    vertical-align: middle;
}
.dijitCalendarIncrementControl, .dijitCalendarDateTemplate, .dijitCalendarMonthLabel, .dijitCalendarPreviousYear, .dijitCalendarNextYear {
    cursor: pointer;
}
.dijitCalendarDisabledDate {
    color: gray;
    cursor: default;
    text-decoration: line-through;
}
.dijitSpacer {
    height: 1px;
    overflow: hidden;
    position: relative;
    visibility: hidden;
}
.dijitCalendarMonthMenu .dijitCalendarMonthLabel {
    text-align: center;
}
.dijitMenu {
    background-color: white;
    border: 1px solid black;
}
.dijitMenuTable {
    background-color: white;
    border-collapse: collapse;
    border-width: 0;
}
.dj_webkit .dijitMenuTable td[colspan="2"] {
    border-right: medium hidden;
}
.dijitMenuItem {
    cursor: pointer;
    padding: 0.1em 0.2em;
    text-align: left;
    white-space: nowrap;
}
.dijitMenuPassive .dijitMenuItemHover, .dijitMenuItemSelected {
    background-color: black;
    color: white;
}
.dijitMenuItemIcon, .dijitMenuExpand {
    background-repeat: no-repeat;
}
.dijitMenuItemDisabled * {
    cursor: default;
    opacity: 0.5;
}
.dj_ie .dijit_a11y .dijitMenuItemDisabled, .dj_ie .dijit_a11y .dijitMenuItemDisabled td, .dj_ie .dijitMenuItemDisabled *, .dj_ie .dijitMenuItemDisabled td {
    color: gray !important;
}
.dijitMenuItemLabel {
    position: relative;
    vertical-align: middle;
}
.dijit_a11y .dijitMenuItemSelected {
    border: 1px dotted black !important;
}
.dj_ff3 .dijit_a11y .dijitMenuItem td {
    background: none repeat scroll 0 0 transparent !important;
    padding: 0 !important;
}
.dijit_a11y .dijitMenuItemSelected .dijitMenuItemLabel {
    border-style: solid;
    border-width: 1px;
}
.dj_ie8 .dijit_a11y .dijitMenuItemLabel {
    position: static;
}
.dijitMenuExpandA11y {
    display: none;
}
.dijit_a11y .dijitMenuExpandA11y {
    display: inline;
}
.dijitMenuSeparator td {
    border: 0 none;
    padding: 0;
}
.dijitMenuSeparatorTop {
    font-size: 1px;
    height: 50%;
    margin: 3px 0 0;
}
.dijitMenuSeparatorBottom {
    font-size: 1px;
    height: 50%;
    margin: 0 0 3px;
}
.dijitCheckedMenuItemIconChar {
    vertical-align: middle;
    visibility: hidden;
}
.dijitCheckedMenuItemChecked .dijitCheckedMenuItemIconChar {
    visibility: visible;
}
.dijit_a11y .dijitCheckedMenuItemIconChar {
    display: inline !important;
}
.dijit_a11y .dijitCheckedMenuItemIcon {
    display: none;
}
.dj_ie .dijit_a11y .dijitMenuBar .dijitMenuItem {
    margin: 0;
}
.dijitStackController .dijitToggleButtonChecked * {
    cursor: default;
}
.dijitTabContainerNoLayout {
    width: 100%;
}
.dijitTabContainerBottom-tabs, .dijitTabContainerTop-tabs, .dijitTabContainerLeft-tabs, .dijitTabContainerRight-tabs {
    overflow: visible !important;
}
.dijitTabContainerBottom-container, .dijitTabContainerTop-container, .dijitTabContainerLeft-container, .dijitTabContainerRight-container {
    border: 1px solid black;
    overflow: hidden;
    z-index: 0;
}
.nowrapTabStrip {
    display: block;
    position: relative;
    text-align: left;
    width: 50000px;
}
.dijitTabListWrapper {
    overflow: hidden;
}
.dijit_a11y .tabStripButton img {
    display: none;
}
.dijitTabContainerTop-tabs {
    border-bottom: 1px solid black;
}
.dijitTabContainerTop-container {
    border-top: 0 none;
}
.dijitTabContainerLeft-tabs {
    border-right: 1px solid black;
    float: left;
}
.dijitTabContainerLeft-container {
    border-left: 0 none;
}
.dijitTabContainerBottom-tabs {
    border-top: 1px solid black;
}
.dijitTabContainerBottom-container {
    border-bottom: 0 none;
}
.dijitTabContainerRight-tabs {
    border-left: 1px solid black;
    float: left;
}
.dijitTabContainerRight-container {
    border-right: 0 none;
}
div.dijitTabDisabled, .dj_ie div.dijitTabDisabled {
    cursor: auto;
}
.dijitTab {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    z-index: 3;
}
.dijitTab * {
    vertical-align: middle;
}
.dijitTabChecked {
    cursor: default;
}
.dijitTabContainerTop-tabs .dijitTab {
    top: 1px;
}
.dijitTabContainerBottom-tabs .dijitTab {
    top: -1px;
}
.dijitTabContainerLeft-tabs .dijitTab {
    left: 1px;
}
.dijitTabContainerRight-tabs .dijitTab {
    left: -1px;
}
.dijitTabContainerTop-tabs .dijitTab, .dijitTabContainerBottom-tabs .dijitTab {
    display: inline-block;
}
.dijitTabInnerDiv {
    position: relative;
}
.tabStripButton {
    z-index: 12;
}
.dijitTabButtonDisabled .tabStripButton {
    display: none;
}
.dijitTabCloseButton {
    margin-left: 1em;
}
.dijitTabCloseText {
    display: none;
}
.dijitTab .tabLabel {
    display: inline-block;
    min-height: 15px;
}
.dijitNoIcon {
    display: none;
}
.dj_ie6 .dijitTab .dijitNoIcon {
    display: inline;
    height: 15px;
    width: 1px;
}
.dijit_a11y .dijitTabCloseButton {
    background-image: none !important;
    height: auto !important;
    width: auto !important;
}
.dijit_a11y .dijitTabCloseText {
    display: inline;
}
.dijitTabPane, .dijitStackContainer-child, .dijitAccordionContainer-child {
    border: medium none !important;
}
.dijitInlineEditBoxDisplayMode {
    border: 1px solid transparent;
    cursor: text;
}
.dijit_a11y .dijitInlineEditBoxDisplayMode, .dj_ie6 .dijitInlineEditBoxDisplayMode {
    border: medium none;
}
.dijitInlineEditBoxDisplayModeHover, .dijit_a11y .dijitInlineEditBoxDisplayModeHover, .dj_ie6 .dijitInlineEditBoxDisplayModeHover {
    background-color: #E2EBF2;
    border: 1px solid black;
}
.dijitInlineEditBoxDisplayModeDisabled {
    cursor: default;
}
.dijitTree {
    overflow: auto;
}
.dijitTreeIndent {
    width: 19px;
}
.dijitTreeRow, .dijitTreeContent {
    white-space: nowrap;
}
.dijitTreeRow img {
    vertical-align: middle;
}
.dijitTreeContent {
    cursor: default;
}
.dijitExpandoText {
    display: none;
}
.dijit_a11y .dijitExpandoText {
    border-style: solid;
    border-width: thin;
    cursor: pointer;
    display: inline;
    font-family: monospace;
    padding-left: 10px;
    padding-right: 10px;
}
.dijitTreeLabel {
    margin: 0 4px;
}
.dijitDialog {
    overflow: hidden;
    position: absolute;
    z-index: 999;
}
.dijitDialogTitleBar {
    cursor: move;
}
.dijitDialogFixed .dijitDialogTitleBar {
    cursor: default;
}
.dijitDialogCloseIcon {
    cursor: pointer;
}
.dijitDialogUnderlayWrapper {
    background: none repeat scroll 0 0 transparent !important;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 998;
}
.dijitDialogUnderlay {
    background: none repeat scroll 0 0 #EEEEEE;
    opacity: 0.5;
}
.dj_ie .dijitDialogUnderlay {
}
.dijit_a11y .dijitSpinnerButtonContainer, .dijit_a11y .dijitDialog {
    background-color: white !important;
    opacity: 1 !important;
}
.dijitDialog .closeText {
    display: none;
    position: absolute;
}
.dijit_a11y .dijitDialog .closeText {
    display: inline;
}
.dijitSliderMoveable {
    display: block;
    position: absolute !important;
    vertical-align: middle;
    z-index: 99;
}
.dijitSliderMoveableH {
    right: 0;
}
.dijitSliderMoveableV {
    right: 50%;
}
.dijit_a11y div.dijitSliderImageHandle, .dijitSliderImageHandle {
    border: 8px solid gray;
    cursor: pointer;
    height: 0;
    margin: 0;
    padding: 0;
    position: relative !important;
    width: 0;
}
.dj_iequirks .dijit_a11y .dijitSliderImageHandle {
    font-size: 0;
}
.dj_ie7 .dijitSliderImageHandle {
    font-size: 75%;
    overflow: hidden;
}
.dj_ie7 .dijit_a11y .dijitSliderImageHandle {
    overflow: visible;
}
.dijit_a11y .dijitSliderFocused .dijitSliderImageHandle {
    border: 4px solid #000000;
    height: 8px;
    width: 8px;
}
.dijitSliderImageHandleV {
    right: -50%;
    top: -8px;
}
.dijitSliderImageHandleH {
    left: 50%;
    top: -5px;
    vertical-align: top;
}
.dijitSliderBar {
    border-color: black;
    border-style: solid;
    cursor: pointer;
}
.dijitSliderBarContainerV {
    height: 100%;
    position: relative;
    z-index: 1;
}
.dijitSliderBarContainerH {
    position: relative;
    z-index: 1;
}
.dijitSliderBarH {
    border-width: 1px 0;
    height: 4px;
}
.dijitSliderBarV {
    border-width: 0 1px;
    width: 4px;
}
.dijitSliderProgressBar {
    background-color: red;
    z-index: 1;
}
.dijitSliderProgressBarV {
    height: 0;
    position: static !important;
    text-align: left;
    vertical-align: top;
}
.dj_webkit .dijitSliderProgressBarV {
    padding-top: 1px;
}
.dijitSliderProgressBarH {
    overflow: visible;
    position: absolute !important;
    vertical-align: middle;
    width: 0;
}
.dijitSliderRemainingBar {
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
}
.dijitSliderRemainingBarV {
    height: 100%;
    text-align: left;
}
.dijitSliderRemainingBarH {
    width: 100% !important;
}
.dijitSliderBumper {
    overflow: hidden;
    z-index: 1;
}
.dijitSliderBumperV {
    border-width: 0 1px;
    height: 8px;
    width: 4px;
}
.dijitSliderBumperH {
    border-width: 1px 0;
    height: 4px;
    width: 8px;
}
.dijitSliderBottomBumper, .dijitSliderLeftBumper {
    background-color: red;
}
.dijitSliderTopBumper, .dijitSliderRightBumper {
    background-color: transparent;
}
.dijitSliderDecoration {
    text-align: center;
}
.dijitSliderDecorationC, .dijitSliderDecorationV {
    position: relative;
}
.dj_ie6 .dijitSliderV td, .dj_ie7 .dijitSliderV td {
    position: static;
}
.dijitSliderDecorationH {
    width: 100%;
}
.dijitSliderDecorationV {
    height: 100%;
}
.dijitSliderButton {
    display: block;
    font-family: monospace;
    margin: 0;
    padding: 0;
}
.dijit_a11y .dijitSliderButtonInner {
    visibility: visible !important;
}
.dijitSliderButtonContainer {
    height: 0;
    text-align: center;
}
.dijitSliderButtonContainer * {
    cursor: pointer;
}
.dijitSlider .dijitButtonNode {
    display: block;
    padding: 0;
}
.dijitRuleContainer {
    overflow: visible;
    position: relative;
}
.dijitRuleContainerV {
    float: left;
    height: 100%;
    line-height: 0;
    text-align: left;
}
.dj_opera .dijitRuleContainerV {
    line-height: 2%;
}
.dj_ie .dijitRuleContainerV {
    line-height: normal;
}
.dj_gecko .dijitRuleContainerV {
    margin: 0 0 1px;
}
.dijitRuleMark {
    border: 1px solid black;
    height: 100%;
    line-height: 0;
    position: absolute;
}
.dijitRuleMarkH {
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
    border-top-width: 0 !important;
    width: 0;
}
.dijitRuleLabelContainer {
    position: absolute;
}
.dijitRuleLabelContainerH {
    display: inline-block;
    text-align: center;
}
.dijitRuleLabelH {
    left: -50%;
    position: relative;
}
.dijitRuleLabelV {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dijitRuleMarkV {
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    height: 0;
    left: 0;
    width: 100%;
}
.dj_ie .dijitRuleLabelContainerV {
    margin-top: -0.55em;
}
.dijit_a11y .dijitSliderReadOnly, .dijit_a11y .dijitSliderDisabled {
    opacity: 0.6;
}
.dj_ie .dijit_a11y .dijitSliderReadOnly .dijitSliderBar, .dj_ie .dijit_a11y .dijitSliderDisabled .dijitSliderBar {
}
.dijit_a11y .dijitSlider .dijitSliderButtonContainer div {
    font-family: monospace;
    font-size: 1em;
    height: auto;
    line-height: 1em;
    margin: 0 4px;
    width: auto;
}
.dijit_a11y .dijitButtonContents .dijitButtonText, .dijit_a11y .dijitTab .tabLabel {
    display: inline !important;
}
.dijitTextArea {
    overflow-y: auto;
    width: 100%;
}
.dijitTextArea[cols] {
    width: auto;
}
.dj_ie .dijitTextAreaCols {
    width: auto;
}
.dijitExpandingTextArea {
    resize: none;
}
.dijitToolbarSeparator {
    height: 18px;
    margin: 0;
    padding: 0 1px;
    width: 5px;
}
.dijitIEFixedToolbar {
    position: absolute;
}
.dijitEditor {
    display: block;
}
.dijitEditorDisabled, .dijitEditorReadOnly {
    color: gray;
}
.dijitTimePickerItemInner {
    border: 0 none;
    padding: 2px 8px;
    text-align: center;
}
.dijitTimePickerTick, .dijitTimePickerMarker {
    border-bottom: 1px solid gray;
}
.dijitTimePicker .dijitDownArrowButton {
    border-top: medium none !important;
}
.dijitTimePickerTick {
    color: #CCCCCC;
}
.dijitTimePickerMarker {
    background-color: #CCCCCC;
    color: black;
}
.dijitTimePickerItemSelected {
    background-color: #B7CDEE;
    color: #333333;
    font-weight: bold;
}
.dijitTimePickerItemHover {
    background-color: gray;
    color: white;
    cursor: pointer;
}
.dijit_a11y .dijitTimePickerItemSelected .dijitTimePickerItemInner {
    border: 4px solid black;
}
.dijit_a11y .dijitTimePickerItemHover .dijitTimePickerItemInner {
    border: 4px dashed black;
}
.dijitToggleButtonIconChar {
    display: none !important;
}
.dijit_a11y .dijitToggleButton .dijitToggleButtonIconChar {
    display: inline !important;
    visibility: hidden;
}
.dj_ie6 .dijitToggleButtonIconChar, .dj_ie6 .tabStripButton .dijitButtonText {
    font-family: "Arial Unicode MS";
}
.dijit_a11y .dijitToggleButtonChecked .dijitToggleButtonIconChar {
    display: inline !important;
    visibility: visible !important;
}
.dijitArrowButtonChar {
    display: none !important;
}
.dijit_a11y .dijitArrowButtonChar {
    display: inline !important;
}
.dijit_a11y .dijitDropDownButton .dijitArrowButtonInner, .dijit_a11y .dijitComboButton .dijitArrowButtonInner {
    display: none !important;
}
.dijitSelect {
    border-collapse: collapse;
    margin: 0.2em;
}
.dj_ie .dijitSelect, .dj_ie7 .dijitSelect, .dj_iequirks .dijitSelect {
    vertical-align: middle;
}
.dj_ie8 .dijitSelect .dijitButtonText {
    vertical-align: top;
}
.dijitToolbar .dijitSelect {
    margin: 0;
}
.dj_webkit .dijitToolbar .dijitSelect {
    padding-left: 0.3em;
}
.dijit_a11y .dijitSelectDisabled .dijitButtonNode {
    border-color: #999999 !important;
    border-style: outset !important;
    border-width: medium !important;
    color: #999999 !important;
}
.dijitSelect .dijitButtonContents {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
    text-align: left;
    white-space: nowrap;
}
.dijitSelectFixedWidth .dijitButtonContents {
    width: 100%;
}
.dijitSelectMenu .dijitMenuItemIcon {
    display: none;
}
.dj_ie6 .dijitSelectMenu .dijitMenuItemLabel, .dj_ie7 .dijitSelectMenu .dijitMenuItemLabel {
    position: static;
}
.dijitSelectLabel * {
    vertical-align: baseline;
}
.dijitSelectSelectedOption * {
    font-weight: bold;
}
.dijitSelectMenu {
    border-width: 1px;
}
.dijitSelectMenu .dijitMenuTable {
    background-color: transparent;
    margin: 0;
}
.dijitForceStatic {
    position: static !important;
}
.dijitReadOnly *, .dijitDisabled *, .dijitReadOnly, .dijitDisabled {
    cursor: default;
}
.dijitIconSave, .dijitIconPrint, .dijitIconCut, .dijitIconCopy, .dijitIconClear, .dijitIconDelete, .dijitIconUndo, .dijitIconEdit, .dijitIconNewTask, .dijitIconEditTask, .dijitIconEditProperty, .dijitIconTask, .dijitIconFilter, .dijitIconConfigure, .dijitIconSearch, .dijitIconApplication, .dijitIconBookmark, .dijitIconChart, .dijitIconConnector, .dijitIconDatabase, .dijitIconDocuments, .dijitIconMail, .dijitLeaf, .dijitIconFile, .dijitIconFunction, .dijitIconKey, .dijitIconPackage, .dijitIconSample, .dijitIconTable, .dijitIconUsers, .dijitFolderClosed, .dijitIconFolderClosed, .dijitFolderOpened, .dijitIconFolderOpen, .dijitIconError {
    background-image: url("../../icons/images/commonIconsObjActEnabled.png");
    height: 16px;
    width: 16px;
}
.dj_ie6 .dijitIconSave, .dj_ie6 .dijitIconPrint, .dj_ie6 .dijitIconCut, .dj_ie6 .dijitIconCopy, .dj_ie6 .dijitIconClear, .dj_ie6 .dijitIconDelete, .dj_ie6 .dijitIconUndo, .dj_ie6 .dijitIconEdit, .dj_ie6 .dijitIconNewTask, .dj_ie6 .dijitIconEditTask, .dj_ie6 .dijitIconEditProperty, .dj_ie6 .dijitIconTask, .dj_ie6 .dijitIconFilter, .dj_ie6 .dijitIconConfigure, .dj_ie6 .dijitIconSearch, .dj_ie6 .dijitIconApplication, .dj_ie6 .dijitIconBookmark, .dj_ie6 .dijitIconChart, .dj_ie6 .dijitIconConnector, .dj_ie6 .dijitIconDatabase, .dj_ie6 .dijitIconDocuments, .dj_ie6 .dijitIconMail, .dj_ie6 .dijitLeaf, .dj_ie6 .dijitIconFile, .dj_ie6 .dijitIconFunction, .dj_ie6 .dijitIconKey, .dj_ie6 .dijitIconPackage, .dj_ie6 .dijitIconSample, .dj_ie6 .dijitIconTable, .dj_ie6 .dijitIconUsers, .dj_ie6 .dijitFolderClosed, .dj_ie6 .dijitIconFolderClosed, .dj_ie6 .dijitFolderOpened, .dj_ie6 .dijitIconFolderOpen, .dj_ie6 .dijitIconError {
    background-image: url("../../icons/images/commonIconsObjActEnabled8bit.png");
}
.dijitDisabled .dijitIconSave, .dijitDisabled .dijitIconPrint, .dijitDisabled .dijitIconCut, .dijitDisabled .dijitIconCopy, .dijitDisabled .dijitIconClear, .dijitDisabled .dijitIconDelete, .dijitDisabled .dijitIconUndo, .dijitDisabled .dijitIconEdit, .dijitDisabled .dijitIconNewTask, .dijitDisabled .dijitIconEditTask, .dijitDisabled .dijitIconEditProperty, .dijitDisabled .dijitIconTask, .dijitDisabled .dijitIconFilter, .dijitDisabled .dijitIconConfigure, .dijitDisabled .dijitIconSearch, .dijitDisabled .dijitIconApplication, .dijitDisabled .dijitIconBookmark, .dijitDisabled .dijitIconChart, .dijitDisabled .dijitIconConnector, .dijitDisabled .dijitIconDatabase, .dijitDisabled .dijitIconDocuments, .dijitDisabled .dijitIconMail, .dijitDisabled .dijitLeaf, .dijitDisabled .dijitIconFile, .dijitDisabled .dijitIconFunction, .dijitDisabled .dijitIconKey, .dijitDisabled .dijitIconPackage, .dijitDisabled .dijitIconSample, .dijitDisabled .dijitIconTable, .dijitDisabled .dijitIconUsers, .dijitDisabled .dijitFolderClosed, .dijitDisabled .dijitIconFolderClosed, .dijitDisabled .dijitFolderOpened, .dijitDisabled .dijitIconFolderOpen, .dijitDisabled .dijitIconError {
    background-image: url("../../icons/images/commonIconsObjActDisabled.png");
}
.dijitIconSave {
    background-position: 0 center;
}
.dijitIconPrint {
    background-position: -16px center;
}
.dijitIconCut {
    background-position: -32px center;
}
.dijitIconCopy {
    background-position: -48px center;
}
.dijitIconClear {
    background-position: -64px center;
}
.dijitIconDelete {
    background-position: -80px center;
}
.dijitIconUndo {
    background-position: -96px center;
}
.dijitIconEdit {
    background-position: -112px center;
}
.dijitIconNewTask {
    background-position: -128px center;
}
.dijitIconEditTask {
    background-position: -144px center;
}
.dijitIconEditProperty {
    background-position: -166px center;
}
.dijitIconTask {
    background-position: -176px center;
}
.dijitIconFilter {
    background-position: -192px center;
}
.dijitIconConfigure {
    background-position: -208px center;
}
.dijitIconSearch {
    background-position: -224px center;
}
.dijitIconError {
    background-position: -496px center;
}
.dijitIconApplication {
    background-position: -240px center;
}
.dijitIconBookmark {
    background-position: -256px center;
}
.dijitIconChart {
    background-position: -272px center;
}
.dijitIconConnector {
    background-position: -288px center;
}
.dijitIconDatabase {
    background-position: -304px center;
}
.dijitIconDocuments {
    background-position: -320px center;
}
.dijitIconMail {
    background-position: -336px center;
}
.dijitIconFile, .dijitLeaf {
    background-position: -352px center;
}
.dijitIconFunction {
    background-position: -368px center;
}
.dijitIconKey {
    background-position: -384px center;
}
.dijitIconPackage {
    background-position: -400px center;
}
.dijitIconSample {
    background-position: -416px center;
}
.dijitIconTable {
    background-position: -432px center;
}
.dijitIconUsers {
    background-position: -448px center;
}
.dijitIconFolderClosed, .dijitFolderClosed {
    background-position: -464px center;
}
.dijitIconFolderOpen, .dijitFolderOpened {
    background-position: -480px center;
}
.dijitIconLoading {
    background: url("../../icons/images/loadingAnimation_rtl.gif") no-repeat scroll 0 0 transparent;
    height: 20px;
    width: 20px;
}
.tundra .dojoDndItemBefore {
    border-top: 2px solid #336699;
}
.tundra .dojoDndItemAfter {
    border-bottom: 2px solid #336699;
}
.tundra .dojoDndItemOver {
    cursor: pointer;
}
.tundra table.dojoDndAvatar {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    color: black;
    font-size: 75%;
}
.tundra .dojoDndAvatar td {
    border: medium none;
}
.tundra .dojoDndAvatar tr {
    border: medium none;
}
.tundra .dojoDndAvatarHeader td {
    height: 20px;
    padding: 0 0 0 21px;
}
.tundra .dojoDndAvatarItem td {
    padding: 2px;
}
.tundra.dojoDndMove .dojoDndAvatarHeader {
    background-color: #F58383;
    background-image: url("images/dndNoMove.png");
    background-position: 2px center;
    background-repeat: no-repeat;
}
.tundra.dojoDndCopy .dojoDndAvatarHeader {
    background-color: #F58383;
    background-image: url("images/dndNoCopy.png");
    background-position: 2px center;
    background-repeat: no-repeat;
}
.tundra.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
    background-color: #97E68D;
    background-image: url("images/dndMove.png");
    background-position: 2px center;
    background-repeat: no-repeat;
}
.tundra.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
    background-color: #97E68D;
    background-image: url("images/dndCopy.png");
    background-position: 2px center;
    background-repeat: no-repeat;
}
.tundra .dijitIconLoading {
    background: url("images/loading.gif") no-repeat scroll left center transparent;
    height: 24px;
    width: 24px;
}
.tundra .dijitIconError {
    background: url("images/warning.png") no-repeat scroll left center transparent;
    height: 16px;
    width: 16px;
}
.tundra .dijitContentPane {
    padding: 0;
}
.tundra .dijitTabContainerTop-dijitContentPane, .tundra .dijitTabContainerLeft-dijitContentPane, .tundra .dijitTabContainerBottom-dijitContentPane, .tundra .dijitTabContainerRight-dijitContentPane, .tundra .dijitAccordionContainer-dijitContentPane {
    background-color: #FFFFFF;
    padding: 5px;
}
.tundra .dijitSplitContainer-dijitContentPane, .tundra .dijitBorderContainer-dijitContentPane {
    background-color: #FFFFFF;
    padding: 5px;
}
.tundra .dijitTabPaneWrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 0;
    padding: 0;
}
.tundra .dijitTab {
    background: url("images/tabEnabled.png") repeat-x scroll 0 0 #E2E2E2;
    border: 1px solid #CCCCCC;
    line-height: normal;
    margin-right: 4px;
    padding: 0;
}
.tundra .dijitTabInnerDiv {
    padding: 2px 8px 2px 9px;
}
.tundra .dijitTabSpacer {
    display: none;
}
.tundra .dijitTabContainer .tabStripRBtn {
    margin-right: 20px;
}
.tundra .dijitTabContainer .tabStripLBtn {
    margin-left: 20px;
}
.tundra .nowrapTabStrip .dijitTab {
    top: 2px;
}
.tundra .dijitTabContainerBottom .nowrapTabStrip .dijitTab {
    bottom: 2px;
    top: 0;
}
.tundra .dijitTabChecked {
    background-color: #FFFFFF;
    background-image: none;
    border-color: #CCCCCC;
}
.tundra .dijitTabHover {
    background: url("images/tabHover.gif") repeat-x scroll 0 0 #E2E2E2;
    border-color: #92A0B3;
    color: #243C5F;
}
.tundra .dijitTabContainerTop .dijitTabHover {
    border-bottom-color: #CCCCCC;
}
.tundra .dijitTabContainerBottom .dijitTabHover {
    border-top-color: #CCCCCC;
}
.tundra .dijitTabContainerLeft .dijitTabHover {
    border-right-color: #CCCCCC;
}
.tundra .dijitTabContainerRight .dijitTabHover {
    border-left-color: #CCCCCC;
}
.tundra .dijitTabContainer .dijitTabCheckedHover {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: inherit;
}
.tundra .dijitTab .tabLabel {
    display: inline-block;
    min-height: 12px;
}
.tundra .dijitTabContainerNested .dijitTabListWrapper {
    height: auto;
}
.tundra .dijitTabContainerNested .dijitTabContainerTop-tabs {
    border-bottom: 1px solid #CCCCCC;
}
.tundra .dijitTabContainerTabListNested .dijitTab {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    top: 0;
}
.tundra .dijitTabContainerTabListNested .dijitTab .dijitTabContent {
}
.tundra .dijitTabContainerTabListNested .dijitTabHover .dijitTabContent .tabLabel {
    text-decoration: underline;
}
.tundra .dijitTabContainerTabListNested .dijitTabChecked .dijitTabContent .tabLabel {
    font-weight: bold;
    text-decoration: underline;
}
.tundra .dijitTabContainer .dijitTabPaneWrapperNested {
    border: medium none;
}
.tundra .dijitTabCloseButton {
    background: url("images/tabClose.png") no-repeat scroll right top transparent;
    height: 12px;
    width: 12px;
}
.dj_ie6 .tundra .dijitTabCloseButton {
    background-image: url("images/tabClose.gif");
}
.tundra .dijitTabCloseButtonHover {
    background-image: url("images/tabCloseHover.png");
}
.dj_ie6 .tundra .dijitTabCloseButtonHover {
    background-image: url("images/tabCloseHover.gif");
}
.tundra .dijitTabContainerTop-tabs {
    background-position: center bottom;
    border-color: #CCCCCC;
    margin-bottom: 0;
    padding-left: 3px;
}
.tundra .dijitTabContainerTop-tabs .dijitTab {
    margin-bottom: -1px;
    top: 0;
}
.tundra .dijitTabContainerTop-container {
    border-top: medium none;
}
.tundra .dijitTabContainerTop-tabs .dijitTabChecked {
    border-bottom-color: white;
}
.tundra .dijitTabContainerTop-tabs, .tundra .dijitTabContainerBottom-tabs {
    padding-left: 3px;
    padding-right: 3px;
}
.tundra .dijitTabContainerTopStrip {
    background: none repeat scroll 0 0 #F2F2F2;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding-top: 2px;
}
.tundra .dijitTabContainerTopNone {
    padding-top: 0;
}
.tundra .dijitTabContainerBottom-tabs {
    background-position: center top;
    border-color: #CCCCCC;
    margin-top: 0;
    padding-left: 3px;
}
.tundra .dijitTabContainerBottom-tabs .dijitTab {
    bottom: 0;
    margin-top: -1px;
}
.tundra .dijitTabContainerBottom-container {
    border-bottom: medium none;
}
.tundra .dijitTabContainerBottom-tabs .dijitTabChecked {
    border-top-color: white;
}
.tundra .dijitTabContainerBottomStrip {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding-bottom: 2px;
}
.tundra .dijitTabContainerRight-tabs {
    border-color: #CCCCCC;
    height: 100%;
    padding-top: 3px;
}
.tundra .dijitTabContainerRightStrip {
    margin-left: -1px;
}
.tundra .dijitTabContainerRight-container {
    border-right: medium none;
}
.tundra .dijitTabContainerRight-tabs .dijitTabChecked {
    border-left-color: white;
}
.tundra .dijitTabContainerRightStrip {
    border: 1px solid #CCCCCC;
    padding-right: 2px;
}
.tundra .dijitTabContainerRightStrip {
    background: none repeat scroll 0 0 #F2F2F2;
}
.tundra .dijitTabContainerLeft-tabs {
    border-color: #CCCCCC;
    height: 100%;
    padding-top: 3px;
}
.tundra .dijitTabContainerLeft-container {
    border-left: medium none;
}
.tundra .dijitTabContainerLeft-tabs .dijitTabChecked {
    border-right-color: white;
}
.tundra .dijitTabContainerLeftStrip {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: #CCCCCC -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    padding-left: 2px;
}
.tundra .dijitTabContainerLeft-tabs .dijitTab, .tundra .dijitTabContainerRight-tabs .dijitTab {
    margin-bottom: 4px;
    margin-right: 0;
}
.tundra .dijitTabContainerTop-dijitContentPane .dijitTabContainerTop-tabs {
    border-left: 0 solid #CCCCCC;
    border-right: 0 solid #CCCCCC;
    border-top: 0 solid #CCCCCC;
    padding-left: 0;
    padding-top: 0;
}
.tundra .dijitTabContainer .tabStripButton {
    margin-right: 0;
    padding-top: 2px;
    z-index: 12;
}
.tundra .dijitTabContainerBottom .tabStripButton {
    padding-top: 2px;
}
.tundra .tabStrip-disabled .tabStripButton .dijitTabInnerDiv {
    padding-bottom: 3px;
    padding-top: 1px;
}
.tundra .tabStripButton .dijitTabInnerDiv {
    padding: 3px 2px 4px;
}
.dj_ie6 .tundra .tabStripButton .dijitTabInnerDiv, .dj_ie7 .tundra .tabStripButton .dijitTabInnerDiv, .dj_opera .tundra .tabStripButton .dijitTabInnerDiv {
    padding-bottom: 5px;
}
.dj_ie6 .tundra .tabStrip-disabled .tabStripButton .dijitTabInnerDiv, .dj_ie7 .tundra .tabStrip-disabled .tabStripButton .dijitTabInnerDiv, .dj_opera .tundra .tabStrip-disabled .tabStripButton .dijitTabInnerDiv {
    padding-bottom: 4px;
}
.tundra .dijitTabStripIcon {
    background: url("images/spriteRoundedIconsSmall.png") no-repeat scroll left top transparent;
    height: 14px;
    width: 14px;
}
.dj_ie6 .tundra .dijitTabStripIcon {
    background-image: url("images/spriteRoundedIconsSmall.gif");
}
.tundra .dijitTabStripSlideRightIcon {
    background-position: -30px top;
}
.tundra .dijitTabStripMenuIcon {
    background-position: -15px top;
}
.tundra .dijitAccordionContainer {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
}
.tundra .dijitAccordionTitle {
    background: url("images/titleBar.png") repeat-x scroll left bottom #FAFAFA;
    border-top: 1px solid #BFBFBF;
    padding: 4px 4px 4px 8px;
}
.tundra .dijitAccordionTitleHover {
    background: url("images/accordionItemHover.gif") repeat-x scroll center bottom #F8FAFD;
}
.tundra .dijitAccordionTitleSelected {
    background: url("images/accordionItemActive.gif") repeat-x scroll center bottom #F9F9F9;
    border-bottom: 1px solid #BFBFBF;
    border-top: 1px solid #AAAAAA;
    font-weight: bold;
    padding: 4px 4px 4px 8px;
}
.tundra .dijitSplitContainerSizerH {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/splitContainerSizerV.png") repeat-y scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #BFBFBF;
    border-image: none;
    border-style: none solid;
    border-width: 0 1px;
    width: 7px;
}
.tundra .dijitSplitContainerSizerH .thumb {
    background: url("images/splitContainerSizerV-thumb.png") no-repeat scroll 0 0 #CCCCCC;
    height: 19px;
    left: 1px;
    overflow: hidden;
    width: 3px;
}
.tundra .dijitSplitContainerSizerV {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/splitContainerSizerH.png") repeat-x scroll 0 0 #FFFFFF;
    border-color: #BFBFBF -moz-use-text-color;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    height: 7px;
}
.tundra .dijitSplitContainerSizerV .thumb {
    background: url("images/splitContainerSizerH-thumb.png") no-repeat scroll 0 0 #CCCCCC;
    height: 3px;
    overflow: hidden;
    top: 1px;
    width: 19px;
}
.tundra .dijitBorderContainer {
    background-color: #FCFCFC;
    padding: 5px;
}
.tundra .dijitSplitContainer-child, .tundra .dijitBorderContainer-child {
    border: 1px solid #CCCCCC;
}
.tundra .dijitBorderContainer-dijitTabContainerTop, .tundra .dijitBorderContainer-dijitTabContainerBottom, .tundra .dijitBorderContainer-dijitTabContainerLeft, .tundra .dijitBorderContainer-dijitTabContainerRight {
    border: medium none;
}
.tundra .dijitBorderContainer-dijitBorderContainer {
    border: medium none;
    padding: 0;
}
.tundra .dijitSplitterH, .tundra .dijitGutterH {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 0 none;
    height: 5px;
}
.tundra .dijitSplitterH .dijitSplitterThumb {
    background: none repeat scroll 0 0 #B0B0B0;
    height: 1px;
    top: 2px;
    width: 19px;
}
.tundra .dijitSplitterV, .tundra .dijitGutterV {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 0 none;
    width: 5px;
}
.tundra .dijitSplitterV .dijitSplitterThumb {
    background: none repeat scroll 0 0 #B0B0B0;
    height: 19px;
    left: 2px;
    width: 1px;
}
.tundra .dijitSplitterActive {
    background-color: #AAAAAA;
    background-image: none;
    font-size: 1px;
    margin: 0;
    opacity: 0.6;
}
.tundra .dijitInputContainer input, .tundra .dijitTextBox {
    margin: 0 0.1em;
}
.tundra .dijitTextArea {
    padding: 3px;
}
.tundra .dijitTextBox {
    background: url("images/validationInputBg.png") repeat-x scroll left top #FFFFFF;
    border: 1px solid #B3B3B3;
}
.tundra .dijitComboBox .dijitButtonNode {
    padding: 0 0.2em;
}
.tundra .dijitTextBox .dijitButtonNode {
    border-color: #9B9B9B;
}
.tundra .dijitTextBoxFocused {
    border-color: #406B9B;
}
.tundra .dijitTextBoxFocused .dijitButtonNode {
    border-color: #366DBA;
}
.tundra .dijitError {
    background-color: #F9F7BA;
    background-image: none;
}
.tundra .dijitErrorFocused {
    background-color: #F9F999;
    background-image: none;
}
.tundra .dijitValidationIcon {
    background: url("images/warning.png") no-repeat scroll center center transparent;
    width: 16px;
}
.tundra .dijitComboBoxHighlightMatch {
    background-color: #A5BEDA;
}
.tundra .dijitFocusedLabel {
    outline: 1px dotted #666666;
}
.tundra .dijitButtonNode {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/buttonEnabled.png") repeat-x scroll left bottom #FFFFFF;
    border-color: #C0C0C0 #C0C0C0 #9B9B9B;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding: 0.1em 0.2em 0.2em;
}
.tundra .dijitButtonText {
    padding: 0 0.3em;
    text-align: center;
}
.tundra .dijitDisabled .dijitButtonText {
    color: #7F7F7F;
}
.tundra .dijitArrowButton {
    color: #111111;
}
.tundra .dijitComboButton .dijitDownArrowButton {
    padding-right: 4px;
}
.tundra .dijitTextBoxReadOnly, .tundra .dijitTextBoxReadOnly .dijitButtonNode, .tundra .dijitButtonDisabled .dijitButtonNode, .tundra .dijitToggleButtonDisabled .dijitButtonNode, .tundra .dijitDropDownButtonDisabled .dijitButtonNode, .tundra .dijitComboButtonDisabled .dijitButtonNode, .tundra .dijitTextBoxDisabled, .tundra .dijitTextBoxDisabled .dijitButtonNode {
    background: url("images/buttonDisabled.png") repeat-x scroll center top #E4E4E4;
    border-color: #D5D5D5 #D5D5D5 #BDBDBD;
}
.tundra .dijitButtonHover .dijitButtonNode, .tundra .dijitButtonNodeHover, .tundra .dijitToggleButtonHover .dijitButtonNode, .tundra .dijitDropDownButtonHover .dijitButtonNode, .tundra .dijitComboButton .dijitButtonContentsHover, .tundra .dijitComboButton .dijitDownArrowButtonHover {
    background: url("images/buttonHover.png") repeat-x scroll center bottom #FCFDFF;
    border-color: #A5BEDA #A5BEDA #5C7590;
    color: #243C5F;
}
.tundra .dijitDownArrowButtonHover, .tundra .dijitUpArrowButtonHover {
    background: url("images/buttonHover.png") repeat-x scroll center bottom #FCFDFF;
    color: #243C5F;
}
.tundra .dijitUpArrowButtonActive, .tundra .dijitDownArrowButtonActive, .tundra .dijitButtonActive .dijitButtonNode, .tundra .dijitToggleButtonActive .dijitButtonNode, .tundra .dijitDropDownButtonActive .dijitButtonNode, .tundra .dijitButtonContentsActive, .tundra .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
    background: url("images/buttonActive.png") repeat-x scroll center bottom #EDEDED;
    border-color: #366DBA;
}
.tundra .dijitArrowButtonInner {
    background: url("images/spriteArrows.png") no-repeat scroll 0 center transparent;
    height: 7px;
    margin: 0 4px;
    width: 7px;
}
.tundra .dijitTextBox .dijitArrowButtonInner {
    background-position: 0 center;
}
.dj_ie6 .tundra .dijitArrowButtonInner {
    background-image: url("images/spriteArrows.gif");
}
.tundra .dijitLeftArrowButton .dijitArrowButtonInner {
    background-position: -7px center;
}
.tundra .dijitRightArrowButton .dijitArrowButtonInner {
    background-position: -14px center;
}
.tundra .dijitUpArrowButton .dijitArrowButtonInner {
    background-position: -21px center;
}
.tundra .dijitDisabled .dijitArrowButtonInner {
    background-position: -28px center;
}
.tundra .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
    background-position: -35px center;
}
.tundra .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
    background-position: -42px center;
}
.tundra .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
    background-position: -49px center;
}
.dj_webkit .tundra .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner {
    margin-top: -1px;
}
.dj_ie .tundra .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner {
    margin-top: -2px;
}
.dj_ie8 .tundra .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner {
    margin-top: -1px;
}
.tundra .dijitSpinnerButtonContainer {
    padding: 0;
    width: auto;
}
.tundra .dijitSpinner .dijitArrowButton {
    width: 15px;
}
.tundra .dijitSpinner .dijitSpinnerButtonInner {
    width: 15px;
}
.tundra .dijitSpinner .dijitArrowButtonInner .dijitInputField {
    padding: 0;
}
.tundra .dijitToggleButton .dijitCheckBoxIcon {
    background-image: url("images/checkmarkNoBorder.png");
}
.dj_ie6 .tundra .dijitToggleButton .dijitCheckBoxIcon {
    background-image: url("images/checkmarkNoBorder.gif");
}
.tundra .dijitCheckBox, .tundra .dijitCheckBoxIcon {
    background-image: url("images/checkmark.png");
    background-repeat: no-repeat;
    height: 16px;
    margin: 0 2px 0 0;
    padding: 0;
    width: 16px;
}
.dj_ie6 .tundra .dijitCheckBox, .dj_ie6 .tundra .dijitCheckBoxIcon {
    background-image: url("images/checkmark.gif");
}
.tundra .dijitCheckBox, .tundra .dijitToggleButton .dijitCheckBoxIcon {
    background-position: -16px center;
}
.tundra .dijitCheckBoxChecked, .tundra .dijitToggleButtonChecked .dijitCheckBoxIcon {
    background-position: 0 center;
}
.tundra .dijitCheckBoxDisabled {
    background-position: -48px center;
}
.tundra .dijitCheckBoxCheckedDisabled {
    background-position: -32px center;
}
.tundra .dijitCheckBoxHover {
    background-position: -80px center;
}
.tundra .dijitCheckBoxCheckedHover {
    background-position: 0px center;
}
.tundra .dijitRadio, .tundra .dijitRadioIcon {
    background-image: url("images/checkmark.png");
    background-repeat: no-repeat;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 16px;
}
.dj_ie6 .tundra .dijitRadio, .dj_ie6 .tundra .dijitRadioIcon {
    background-image: url("images/checkmark.gif");
}
.tundra .dijitToggleButton .dijitRadioIcon {
    background-image: url("images/checkmarkNoBorder.png");
}
.dj_ie6 .tundra .dijitToggleButton .dijitRadioIcon {
    background-image: url("images/checkmarkNoBorder.gif");
}
.tundra .dijitRadio, .tundra .dijitRadioIcon {
    background-position: -112px center;
}
.tundra .dijitRadioDisabled {
    background-position: -144px center;
}
.tundra .dijitRadioHover {
    background-position: -176px center;
}
.tundra .dijitRadioChecked, .tundra .dijitRadioCheckedHover, .tundra .dijitToggleButtonChecked .dijitRadioIcon {
    background-position: -96px center;
}
.tundra .dijitRadioCheckedDisabled {
    background-position: -128px center;
}
.tundra .dijitSliderProgressBarH {
    background: url("images/sliderFull.png") repeat-x scroll left top #C0C2C5;
    border-color: #AAB0BB;
}
.tundra .dijitSliderProgressBarV {
    background: url("images/sliderFullVertical.png") repeat-y scroll left bottom #C0C2C5;
    border-color: #AAB0BB;
}
.tundra .dijitSliderFocused .dijitSliderProgressBarH, .tundra .dijitSliderFocused .dijitSliderLeftBumper {
    background-image: url("images/sliderFullFocus.png");
}
.tundra .dijitSliderFocused .dijitSliderProgressBarV, .tundra .dijitSliderFocused .dijitSliderBottomBumper {
    background-image: url("images/sliderFullVerticalFocus.png");
}
.tundra .dijitSliderRemainingBarV {
    background: url("images/sliderEmptyVertical.png") repeat-y scroll left bottom #DCDCDC;
    border-color: #B4B4B4;
}
.tundra .dijitSliderRemainingBarH {
    background: url("images/sliderEmpty.png") repeat-x scroll left top #DCDCDC;
    border-color: #B4B4B4;
}
.tundra .dijitSliderBar {
    border-style: solid;
    outline: 1px none;
}
.tundra .dijitSliderFocused .dijitSliderBar {
    border-color: #888888;
}
.tundra .dijitSliderImageHandleH {
    background: url("images/preciseSliderThumb.png") no-repeat scroll center top transparent;
    border: 0 none;
    height: 16px;
    width: 16px;
}
.tundra .dijitSliderFocused .dijitSliderImageHandleH {
    background-image: url("images/preciseSliderThumbFocus.png");
}
.dj_ie6 .tundra .dijitSliderImageHandleH {
    background-image: url("images/preciseSliderThumb.gif");
}
.tundra .dijitSliderLeftBumper {
    background: url("images/sliderFull.png") repeat-x scroll left top #C0C2C5;
    border-color: #AAB0BB;
    border-left-width: 1px;
}
.tundra .dijitSliderRightBumper {
    background: url("images/sliderEmpty.png") repeat-x scroll left top #DCDCDC;
    border-color: #B4B4B4;
    border-right-width: 1px;
}
.tundra .dijitSliderImageHandleV {
    background: url("images/sliderThumb.png") no-repeat scroll center center transparent;
    border: 0 none;
    height: 16px;
    width: 16px;
}
.tundra .dijitSliderFocused .dijitSliderImageHandleV {
    background-image: url("images/sliderThumbFocus.png");
}
.dj_ie6 .tundra .dijitSliderFocused .dijitSliderImageHandleV {
    background-image: url("images/sliderThumbFocus.gif");
}
.tundra .dijitSliderBottomBumper {
    background: url("images/sliderFullVertical.png") repeat-y scroll left bottom #C0C2C5;
    border-bottom-width: 1px;
    border-color: #AAB0BB;
}
.tundra .dijitSliderTopBumper {
    background: url("images/sliderEmptyVertical.png") repeat-y scroll left top #DCDCDC;
    border-color: #B4B4B4;
    border-top-width: 1px;
}
.tundra .dijitSliderDecrementIconH, .tundra .dijitSliderDecrementIconV, .tundra .dijitSliderIncrementIconH, .tundra .dijitSliderIncrementIconV {
    background-image: url("images/spriteRoundedIconsSmall.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 14px;
    width: 14px;
}
.dj_ie6 .tundra .dijitSliderDecrementIconH, .dj_ie6 .tundra .dijitSliderDecrementIconV, .dj_ie6 .tundra .dijitSliderIncrementIconH, .dj_ie6 .tundra .dijitSliderIncrementIconV {
    background-image: url("images/spriteRoundedIconsSmall.gif");
}
.tundra .dijitSliderDecrementIconH {
    background-position: 0 0;
}
.tundra .dijitSliderIncrementIconH {
    background-position: -30px 0;
}
.tundra .dijitSliderDecrementIconV {
    background-position: -15px 0;
}
.tundra .dijitSliderIncrementIconV {
    background-position: -45px 0;
}
.tundra .dijitSliderButtonInner {
    visibility: hidden;
}
.tundra .dijitSliderReadOnly *, .tundra .dijitSliderDisabled * {
    border-color: #D5D5D5 #BDBDBD #BDBDBD #D5D5D5;
    color: #BDBDBD;
}
.tundra .dijitSliderReadOnly .dijitSliderDecrementIconH, .tundra .dijitSliderDisabled .dijitSliderDecrementIconH {
    background-position: -35px 0;
}
.tundra .dijitSliderReadOnly .dijitSliderIncrementIconH, .tundra .dijitSliderDisabled .dijitSliderIncrementIconH {
    background-position: -42px 0;
}
.tundra .dijitSliderReadOnly .dijitSliderDecrementIconV, .tundra .dijitSliderDisabled .dijitSliderDecrementIconV {
    background-position: -28px 0;
}
.tundra .dijitSliderReadOnly .dijitSliderIncrementIconV, .tundra .dijitSliderDisabled .dijitSliderIncrementIconV {
    background-position: -49px 0;
}
.tundra .dijitSelect .dijitButtonNode {
    padding: 0;
}
.tundra .dijitSelect .dijitButtonNode .dijitArrowButtonInner {
    margin: 0 4px 0 5px;
}
.tundra .dijitSelect .dijitButtonContents {
    background: url("images/validationInputBg.png") repeat-x scroll left top #FFFFFF;
    padding-top: 1px;
}
.tundra .dijitSelectHover .dijitButtonContents, .tundra .dijitSelectActive .dijitButtonContents, .tundra .dijitSelectOpened .dijitButtonContents, .tundra .dijitSelectDisabled .dijitButtonContents, .tundra .dijitSelectReadOnly .dijitButtonContents {
    background: none repeat scroll 0 0 transparent;
}
.dj_ie .tundra .dijitSelect .dijitButtonContents {
    padding-top: 0;
}
.tundra .dijitSelectDisabled .dijitButtonNode {
    background: url("images/buttonDisabled.png") repeat-x scroll center top #E4E4E4;
    border-color: #D5D5D5 #BDBDBD #BDBDBD #D5D5D5;
}
.dj_ie .tundra .dijitSelectDisabled .dijitButtonNode * {
}
.tundra .dijitSelectHover .dijitButtonNode {
    background: url("images/buttonHover.png") repeat-x scroll center bottom #FCFDFF;
    border-color: #A5BEDA #5C7590 #5C7590 #A5BEDA;
    color: #243C5F;
}
.tundra .dijitSelectActive .dijitButtonNode, .tundra .dijitSelectOpened .dijitButtonNode {
    background: url("images/buttonActive.png") repeat-x scroll center bottom #EDEDED;
    border-color: #366DBA;
}
.tundra .dijitSelectMenu td {
    padding: 0;
}
.tundra .dijitSelectMenu .dijitMenuItemLabel, .tundra .dijitSelectMenu .dijitMenuArrowCell {
    padding: 0.1em 0.2em;
}
.tundra .dijitTreeNode {
    background-image: url("images/i.gif");
    background-repeat: repeat-y;
}
.tundra .dijitTreeIsLast {
    background: url("images/i_half.gif") no-repeat scroll 0 0 transparent;
}
.tundra .dijitTreeIsRoot {
    background-image: none;
    margin-left: 0;
}
.tundra .dijitTreeExpando {
    height: 18px;
    width: 18px;
}
.tundra .dijitTreeRow {
    padding-bottom: 2px;
}
.tundra .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
}
.tundra .dijitTreeRowSelected .dijitTreeLabel {
    background: none repeat scroll 0 0 #E2EBFE;
}
.tundra .dijitTreeRowHover {
    background-color: transparent !important;
    background-image: url("images/treeHover.png");
    background-repeat: repeat;
}
.tundra .dijitTreeExpandoOpened {
    background-image: url("images/treeExpand_minus.gif");
}
.tundra .dijitTreeExpandoClosed {
    background-image: url("images/treeExpand_plus.gif");
}
.tundra .dijitTreeExpandoLeaf {
    background-image: url("images/treeExpand_leaf.gif");
}
.tundra .dijitTreeExpandoLoading {
    background-image: url("images/treeExpand_loading.gif");
}
.tundra .dijitTreeIcon {
    height: 16px;
    width: 16px;
}
.tundra .dijitFolderOpened {
    background: url("images/folderOpened.gif") no-repeat scroll 0 0 transparent;
}
.tundra .dijitFolderClosed {
    background: url("images/folderClosed.gif") no-repeat scroll 0 0 transparent;
}
.tundra .dijitLeaf {
    background: url("images/leaf.gif") no-repeat scroll 0 0 transparent;
}
.tundra .dijitTreeNode .dojoDndItemBefore, .tundra .dijitTreeNode .dojoDndItemAfter {
    border-bottom: medium none;
    border-top: medium none;
}
.tundra .dijitTreeNode .dojoDndItemBefore .dijitTreeContent {
    border-top: 2px solid #336699;
}
.tundra .dijitTreeNode .dojoDndItemAfter .dijitTreeContent {
    border-bottom: 2px solid #336699;
}
.tundra .dijitProgressBar {
    margin: 2px 0;
}
.tundra .dijitProgressBarEmpty {
    background: url("images/progressBarEmpty.png") repeat-x scroll center center #FFFFFF;
    border-color: #A2A2A2 #B8B8B8 #B8B8B8 #A2A2A2;
}
.tundra .dijitProgressBarTile {
    background: url("images/progressBarFull.png") repeat-x scroll center center #F0F0F0;
}
.tundra .dijitProgressBarFull {
    border-right: 1px solid #B8B8B8;
}
.tundra .dijitProgressBarLabel {
    color: #293A4B;
}
.tundra .dijitProgressBarIndeterminate .dijitProgressBarTile {
    background: url("images/progressBarAnim.gif") repeat-x scroll center center #CAD2DE;
}
.tundra .dijitTitlePaneTitle {
    background: url("images/titleBar.png") repeat-x scroll left bottom #FFFFFF;
    border: 1px solid #BFBFBF;
    padding: 3px 4px;
}
.tundra .dijitTitlePaneTitleHover {
    background: url("images/accordionItemHover.gif") repeat-x scroll center bottom #F8FAFD;
}
.tundra .dijitTitlePane .dijitArrowNode {
    background-image: url("images/spriteArrows.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 7px;
    width: 7px;
}
.dj_ie6 .tundra .dijitTitlePane .dijitArrowNode {
    background-image: url("images/spriteArrows.gif");
}
.tundra .dijitTitlePane .dijitClosed .dijitArrowNode {
    background-position: -14px 0;
}
.tundra .dijitTitlePaneContentOuter {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #BFBFBF #BFBFBF;
    border-image: none;
    border-right: 1px solid #BFBFBF;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.tundra .dijitTitlePaneContentInner {
    padding: 10px;
}
.tundra .dijitTitlePaneTextNode {
    margin-left: 4px;
    margin-right: 4px;
}
.tundra .dijitCalendarIncrementControl {
    background-image: url("images/spriteRoundedIconsSmall.png");
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
}
.dj_ie6 .tundra .dijitCalendarIncrementControl {
    background-image: url("images/spriteRoundedIconsSmall.gif");
    font-size: 0.1em;
}
.tundra .dijitA11ySideArrow {
    display: none;
}
.tundra .dijitCalendarDecrease {
    background-position: left top;
}
.tundra .dijitCalendarIncrease {
    background-position: -30px top;
}
.tundra .dijitCalendarContainer {
    border: 1px solid #CCCCCC;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 100%;
    margin: 0;
}
.tundra .dijitCalendarMonthContainer th {
    background: url("images/titleBar.png") repeat-x scroll center top #D3D3D3;
    padding-bottom: 0.2em;
    padding-top: 0.3em;
    text-align: center;
}
.dj_ie6 .tundra .dijitCalendarMonthContainer th {
    padding-bottom: 0.1em;
    padding-top: 0.2em;
}
.tundra .dijitCalendarDayLabelTemplate {
    background: url("images/calendarDayLabel.png") repeat-x scroll center bottom white;
    border-top: 1px solid #EEEEEE;
    color: #293A4B;
    font-weight: normal;
    padding-bottom: 0;
    padding-top: 0.15em;
    text-align: center;
}
.tundra .dijitCalendarBodyContainer {
    border-bottom: 1px solid #EEEEEE;
}
.tundra .dijitCalendarMonthLabel {
    color: #293A4B;
    font-weight: bold;
    padding: 0 4px;
}
.tundra .dijitCalendarDateTemplate {
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.3em 0.3em 0.05em;
    text-align: center;
}
.dj_ie .tundra .dijitCalendarDateTemplate {
    padding: 0.1em 0.33em 0.02em;
}
.tundra .dijitCalendarPreviousMonth, .tundra .dijitCalendarNextMonth {
    background-color: #F8F8F8;
    color: #999999;
}
.tundra .dijitCalendarCurrentMonth {
    background-color: white;
}
.tundra .dijitCalendarCurrentDate {
    font-weight: bold;
    text-decoration: underline;
}
.tundra .dijitCalendarHoveredDate {
    background-color: #E2EBF2;
}
.tundra .dijitCalendarDisabledDate {
    background-color: white;
    text-decoration: line-through;
}
.tundra .dijitCalendarSelectedDate {
    background-color: #BBC4D0 !important;
    color: black !important;
}
.tundra .dijitCalendarYearContainer {
    background: url("images/calendarYearLabel.png") repeat-x scroll center bottom white;
    border-top: 1px solid #CCCCCC;
}
.tundra .dijitCalendarYearLabel {
    font-size: 1.17em;
    margin: 0;
    padding: 0.4em 0 0.25em;
    text-align: center;
}
.tundra .dijitCalendarSelectedYear {
    background-color: #BBC4D0 !important;
    color: black;
    font-weight: bolder;
    padding: 0.2em 0.2em 0.1em;
}
.tundra .dijitCalendarNextYear, .tundra .dijitCalendarPreviousYear {
    color: black !important;
    font-weight: normal;
}
.tundra .dijitCalendar .dijitDropDownButton {
    margin: 0;
}
.tundra .dijitCalendar .dijitButtonText {
    padding: 0;
}
.tundra .dijitCalendar .dijitDropDownButton .dijitButtonNode {
    background-color: transparent;
    background-image: none;
    padding: 0;
}
.tundra .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover {
    background-color: #3559AC;
    color: #FFFFFF;
}
.tundra .dijitTimePickerTick, .tundra .dijitTimePickerMarker {
    border-color: #CCCCCC;
}
.tundra .dijitTimePickerTick {
    color: white;
}
.tundra .dijitTimePickerMarker {
    background: url("images/titleBar.png") repeat-x scroll center top #D3D3D3;
    color: #293A4B;
    font-weight: bold;
}
.tundra .dijitTimePickerItemSelected {
    background: none repeat scroll 0 0 #BBC4D0;
    color: black;
}
.tundra .dijitTimePickerItemHover {
    background: none repeat scroll 0 0 #60A1EA;
    color: white;
}
.tundra .dijitTimePickerItemHover, .tundra .dijitTimePickerItemSelected {
    position: relative;
    z-index: 10;
}
.tundra .dijitTimePickerTick .dijitTimePickerItemInner {
    font-size: 0.4em;
}
.tundra .dijitTimePickerItemHover .dijitTimePickerItemInner, .tundra .dijitTimePickerItemSelected .dijitTimePickerItemInner {
    font-size: 1em;
}
.tundra .dijitTimePickerMarkerHover {
    border-top: 1px solid #CCCCCC;
}
.tundra .dijitTimePickerTickHover, .tundra .dijitTimePickerTickSelected {
    border-bottom: medium none;
    margin-bottom: -0.3em;
    margin-top: -0.3em;
}
.tundra .dijitToolbar {
    background: url("images/titleBar.png") repeat-x scroll left top #EAEAEA;
    border-bottom: 1px solid #CCCCCC;
}
.dj_ie6 .tundra .dijitToolbar {
    height: 10px;
}
.tundra .dijitToolbar .dijitButtonNode, .tundra .dijitToolbar .dijitComboButton .dijitButtonContents, .tundra .dijitToolbar .dijitComboButton .dijitDownArrowButton {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.tundra .dijitToolbar .dijitButton, .tundra .dijitToolbar .dijitToggleButton, .tundra .dijitToolbar .dijitDropDownButton, .tundra .dijitToolbar .dijitComboButton .dijitButtonContents, .tundra .dijitToolbar .dijitComboButton .dijitDownArrowButton {
    background: none repeat scroll 0 0 transparent;
    padding: 1px;
}
.tundra .dijitToolbar .dijitButtonChecked, .tundra .dijitToolbar .dijitToggleButtonChecked {
    background-color: #D4DFF2;
    border: 1px solid #316AC5;
    padding: 0;
}
.tundra .dijitToolbar .dijitButtonCheckedHover, .tundra .dijitToolbar .dijitToggleButtonCheckedHover {
    background-color: #ABC1E5;
    border: 1px solid #316AC5;
    padding: 0;
}
.tundra .dijitToolbar .dijitButtonHover, .tundra .dijitToolbar .dijitToggleButtonHover, .tundra .dijitToolbar .dijitDropDownButtonHover, .tundra .dijitToolbar .dijitComboButton .dijitButtonContentsHover, .tundra .dijitToolbar .dijitComboButton .dijitDownArrowButtonHover {
    background-color: #E1E5F0;
    border: 1px solid #869CBF;
    padding: 0;
}
.tundra .dijitToolbar label {
    padding: 3px 3px 0 6px;
}
.dj_ie .tundra .dijitToolbar .dijitComboButton .dijitButtonContentsFocused, .dj_ie .tundra .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
    border: 1px dotted #555555 !important;
    padding: 0;
}
.tundra .dijitToolbarSeparator {
    background: url("../../icons/images/editorIconsEnabled.png") repeat scroll 0 0 transparent;
}
.tundra .dijitToolbarRtl .dijitToolbarSeparator {
    background-image: url("../../icons/images/editorIconsDisabled.png");
}
.tundra .dijitDialog {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #7EABCD;
    padding: 0;
}
.tundra .dijitDialogPaneContent {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #D3D3D3;
    padding: 10px;
}
.tundra .dijitDialogTitleBar {
    background: url("images/titleBar.png") repeat-x scroll left top #FAFAFA;
    outline: 0 none;
    padding: 5px 6px 3px;
}
.tundra .dijitDialogTitle {
    font-weight: bold;
    padding: 0 4px;
}
.tundra .dijitDialogCloseIcon {
    background: url("images/tabClose.png") no-repeat scroll right top transparent;
    height: 15px;
    position: absolute;
    right: 6px;
    top: 4px;
    vertical-align: middle;
    width: 15px;
}
.dj_ie6 .tundra .dijitDialogCloseIcon {
    background: url("images/tabClose.gif") no-repeat scroll right top transparent;
}
.tundra .dijitDialogCloseIconHover {
    background: url("images/tabCloseHover.png") no-repeat scroll right top transparent;
}
.dj_ie6 .tundra .dijitDialogCloseIconHover {
    background: url("images/tabCloseHover.gif") no-repeat scroll right top transparent;
}
.tundra .dijitTooltip, .tundra .dijitTooltipDialog {
    background: none repeat scroll 0 0 transparent;
}
.dijitTooltipBelow {
    padding-top: 13px;
}
.dijitTooltipAbove {
    padding-bottom: 13px;
}
.tundra .dijitTooltipContainer {
    background: url("images/popupMenuBg.gif") repeat-x scroll left bottom #FFFFFF;
    border: 1px solid #7EABCD;
    padding: 0.45em;
}
.tundra .dijitTooltipConnector {
    border: 0 none;
    z-index: 2;
}
.tundra .dijitTooltipABRight .dijitTooltipConnector {
    left: auto !important;
    right: 3px;
}
.tundra .dijitTooltipBelow .dijitTooltipConnector {
    background: url("images/tooltipConnectorUp.png") no-repeat scroll left top transparent;
    height: 14px;
    left: 3px;
    top: 0;
    width: 16px;
}
.dj_ie .tundra .dijitTooltipBelow .dijitTooltipConnector {
    background-image: url("images/tooltipConnectorUp.gif");
}
.tundra .dijitTooltipAbove .dijitTooltipConnector {
    background: url("images/tooltipConnectorDown.png") no-repeat scroll left top transparent;
    bottom: 0;
    height: 14px;
    left: 3px;
    width: 16px;
}
.dj_ie .tundra .dijitTooltipAbove .dijitTooltipConnector {
    background-image: url("images/tooltipConnectorDown.gif");
}
.dj_ie6 .tundra .dijitTooltipAbove .dijitTooltipConnector {
    bottom: -3px;
}
.tundra .dijitTooltipLeft {
    padding-right: 14px;
}
.tundra .dijitTooltipLeft .dijitTooltipConnector {
    background: url("images/tooltipConnectorRight.png") no-repeat scroll left top transparent;
    height: 14px;
    right: 0;
    width: 16px;
}
.dj_ie .tundra .dijitTooltipLeft .dijitTooltipConnector {
    background-image: url("images/tooltipConnectorRight.gif");
}
.tundra .dijitTooltipRight {
    padding-left: 14px;
}
.tundra .dijitTooltipRight .dijitTooltipConnector {
    background: url("images/tooltipConnectorLeft.png") no-repeat scroll left top transparent;
    height: 14px;
    left: 0;
    width: 16px;
}
.dj_ie .tundra .dijitTooltipRight .dijitTooltipConnector {
    background-image: url("images/tooltipConnectorLeft.gif");
}
.dj_webkit .tundra .dijitTooltipContainer {
}
.tundra .dijitMenu, .tundra .dijitMenuBar {
    background-color: #F7F7F7;
    border: 1px solid #7EABCD;
    margin: 0;
    padding: 0;
}
.tundra .dijitBorderContainer .dijitMenuBar {
    border: 1px solid #CCCCCC;
}
.tundra .dijitMenuItem {
    font-family: sans-serif;
    margin: 0;
}
.tundra .dijitMenuItem {
    padding: 4px 5px;
}
.tundra .dijitMenuPreviousButton, .tundra .dijitMenuNextButton {
    font-style: italic;
}
.tundra .dijitMenuItem td {
    padding: 2px;
}
.tundra .dijitMenuPassive .dijitMenuItemHover, .tundra .dijitComboBoxMenu .dijitMenuItemHover, .tundra .dijitMenuItemSelected {
    background-color: #3559AC;
    color: #FFFFFF;
}
.tundra .dijitMenuItemIcon {
    height: 16px;
    width: 16px;
}
.tundra .dijitMenuExpand {
    background-image: url("images/spriteArrows.png");
    background-position: -14px 0;
    height: 7px;
    width: 7px;
}
.dj_ie6 .tundra .dijitMenuExpand {
    background-image: url("images/spriteArrows.gif");
}
.tundra .dijitMenuSeparatorTop {
    border-bottom: 1px solid #9B9B9B;
}
.tundra .dijitMenuSeparatorBottom {
    border-top: 1px solid #E8E8E8;
}
.tundra .dijitCheckedMenuItemIconChar {
    display: none;
}
.tundra .dijitCheckedMenuItemIcon {
    background-image: url("images/checkmark.png");
    background-position: -80px center;
}
.dj_ie6 .tundra .dijitCheckedMenuItemIcon {
    background-image: url("images/checkmark.gif");
}
.tundra .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
    background-position: -64px center;
}
.dj_ie8 .tundra .dijitPopup .dijitMenuItemLabel, .dj_ie9 .tundra .dijitPopup .dijitMenuItemLabel {
    position: static;
}
.dj_ie9 .tundra .dijitPopup .dijitMenuTable {
    overflow: visible !important;
}
.dijitEditor {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #BFBFBF #BFBFBF;
    border-image: none;
    border-right: 1px solid #BFBFBF;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.tundra .dijitEditorIcon {
    background-image: url("../../icons/images/editorIconsEnabled.png");
    background-repeat: no-repeat;
    height: 18px;
    text-align: center;
    width: 18px;
}
.tundra .dijitDisabled .dijitEditorIcon {
    background-image: url("../../icons/images/editorIconsDisabled.png");
}
.dijitEditorIcon {
    background-image: url("../../icons/images/editorIconsEnabled.png");
    background-repeat: no-repeat;
    height: 18px;
    text-align: center;
    width: 18px;
}
.dijitDisabled .dijitEditorIcon {
    background-image: url("../../icons/images/editorIconsDisabled.png");
}
.dijitEditorIconSep {
    background-position: 0 center;
}
.dijitEditorIconSave {
    background-position: -18px center;
}
.dijitEditorIconPrint {
    background-position: -36px center;
}
.dijitEditorIconCut {
    background-position: -54px center;
}
.dijitEditorIconCopy {
    background-position: -72px center;
}
.dijitEditorIconPaste {
    background-position: -90px center;
}
.dijitEditorIconDelete {
    background-position: -108px center;
}
.dijitEditorIconCancel {
    background-position: -126px center;
}
.dijitEditorIconUndo {
    background-position: -144px center;
}
.dijitEditorIconRedo {
    background-position: -162px center;
}
.dijitEditorIconSelectAll {
    background-position: -180px center;
}
.dijitEditorIconBold {
    background-position: -198px center;
}
.dijitEditorIconItalic {
    background-position: -216px center;
}
.dijitEditorIconUnderline {
    background-position: -234px center;
}
.dijitEditorIconStrikethrough {
    background-position: -252px center;
}
.dijitEditorIconSuperscript {
    background-position: -270px center;
}
.dijitEditorIconSubscript {
    background-position: -288px center;
}
.dijitEditorIconJustifyCenter {
    background-position: -306px center;
}
.dijitEditorIconJustifyFull {
    background-position: -324px center;
}
.dijitEditorIconJustifyLeft {
    background-position: -342px center;
}
.dijitEditorIconJustifyRight {
    background-position: -360px center;
}
.dijitEditorIconIndent {
    background-position: -378px center;
}
.dijitEditorIconOutdent {
    background-position: -396px center;
}
.dijitEditorIconListBulletIndent {
    background-position: -414px center;
}
.dijitEditorIconListBulletOutdent {
    background-position: -432px center;
}
.dijitEditorIconListNumIndent {
    background-position: -450px center;
}
.dijitEditorIconListNumOutdent {
    background-position: -468px center;
}
.dijitEditorIconTabIndent {
    background-position: -486px center;
}
.dijitEditorIconLeftToRight {
    background-position: -504px center;
}
.dijitEditorIconRightToLeft, .dijitEditorIconToggleDir {
    background-position: -522px center;
}
.dijitEditorIconBackColor {
    background-position: -540px center;
}
.dijitEditorIconForeColor {
    background-position: -558px center;
}
.dijitEditorIconHiliteColor {
    background-position: -576px center;
}
.dijitEditorIconNewPage {
    background-position: -594px center;
}
.dijitEditorIconInsertImage {
    background-position: -612px center;
}
.dijitEditorIconInsertTable {
    background-position: -630px center;
}
.dijitEditorIconSpace {
    background-position: -648px center;
}
.dijitEditorIconInsertHorizontalRule {
    background-position: -666px center;
}
.dijitEditorIconInsertOrderedList {
    background-position: -684px center;
}
.dijitEditorIconInsertUnorderedList {
    background-position: -702px center;
}
.dijitEditorIconCreateLink {
    background-position: -720px center;
}
.dijitEditorIconUnlink {
    background-position: -738px center;
}
.dijitEditorIconViewSource {
    background-position: -756px center;
}
.dijitEditorIconRemoveFormat {
    background-position: -774px center;
}
.dijitEditorIconFullScreen {
    background-position: -792px center;
}
.dijitEditorIconWikiword {
    background-position: -810px center;
}
.dijitColorPalette {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #7EABCD;
}
.dijitRtl .dijitPlaceHolder {
    left: auto;
    right: 0;
}
.dijitMenuItemRtl {
    text-align: right;
}
.dj_iequirks .dijitComboButtonRtl button {
    float: left;
}
.dijitTextBoxRtl .dijitValidationContainer, .dijitTextBoxRtl .dijitSpinnerButtonContainer, .dijitComboBoxRtl .dijitArrowButtonContainer {
    border-left-width: 0 !important;
    border-right-width: 1px !important;
}
.dijitSpinnerRtl .dijitSpinnerButtonContainer .dijitArrowButton {
    left: auto;
    right: 0;
}
.dj_ie7 .dijitInputContainer {
    display: inline-block;
}
.dijitTextBoxRtl .dijitSpinnerButtonContainer, .dijitTextBoxRtl .dijitValidationContainer, .dijitTextBoxRtl .dijitArrowButtonContainer {
    float: left;
}
.dijitCalendarRtl .dijitCalendarNextYear {
    margin: 0 0.55em 0 0;
}
.dijitCalendarRtl .dijitCalendarPreviousYear {
    margin: 0 0 0 0.55em;
}
.dijitSliderRtl .dijitSliderImageHandleV {
    left: auto;
}
.dijitSliderRtl .dijitSliderImageHandleH {
    left: -50%;
}
.dijitSliderRtl .dijitSliderMoveableH {
    left: 0;
    right: auto;
}
.dijitSliderRtl .dijitRuleContainerV {
    float: right;
}
.dj_ie .dijitSliderRtl .dijitRuleContainerV {
    text-align: right;
}
.dj_ie .dijitSliderRtl .dijitRuleLabelV {
    text-align: left;
}
.dj_ie .dijitSliderRtl .dijitRuleLabelH {
}
.dijitSliderRtl .dijitSliderProgressBarH {
    float: right;
    left: auto;
    right: 0;
}
.dijitRtl .dijitContentPaneLoading .dijitIconLoading, .dijitRtl .dijitContentPaneError .dijitIconError {
    margin-left: 9px;
    margin-right: 0;
}
.dijitTabControllerRtl .nowrapTabStrip {
    text-align: right;
}
.dijitTabRtl .dijitTabCloseButton {
    margin-left: 0;
    margin-right: 1em;
}
.dj_ie .dijitTimePickerRtl .dijitTimePickerItem {
    width: 100%;
}
.dijitColorPaletteRtl .dijitColorPaletteUnder {
    left: auto;
    right: 0;
}
.dijitSelectRtl .dijitButtonContents {
    text-align: right;
}
.tundra .dijitCalendarRtl .dijitCalendarDecrease {
    background-position: -30px top;
}
.tundra .dijitCalendarRtl .dijitCalendarIncrease {
    background-position: 0 top;
}
.dj_ie6 .tundra .dijitTimePickerRtl .dijitTimePickerMarkerHover, .dj_ie7 .tundra .dijitTimePickerRtl .dijitTimePickerMarkerHover {
    border-top: 0 none;
}
.tundra .dijitDialogRtl .dijitDialogCloseIcon {
    left: 5px;
    right: auto;
}
.tundra .dijitEditorRtl .dijitEditorIcon {
    background-image: url("../../icons/images/editorIconsEnabled_rtl.png");
}
.tundra .dijitEditorRtlDisabled .dijitEditorIcon {
    background-image: url("../../icons/images/editorIconsDisabled_rtl.png");
}
.dijitEditorRtl .dijitEditorIcon {
    background-image: url("../../icons/images/editorIconsEnabled_rtl.png");
}
.dijitEditorRtlDisabled .dijitEditorIcon {
    background-image: url("../../icons/images/editorIconsDisabled_rtl.png");
}
.dijitToolbarRtl .dijitToolbarSeparator {
    background-image: url("../../icons/images/editorIconsEnabled_rtl.png");
}
.tundra .dijitMenuItemRtl .dijitMenuExpand {
    background-position: -7px 0;
}
.tundra .dijitTreeNodeRtl, .tundra .dijitTreeNodeRtl .dijitTreeExpandoLeaf {
    background-image: none;
}
.tundra .dijitTreeNodeRtl .dijitTreeExpandoOpened {
    background-image: url("images/treeExpand_minus_rtl.gif");
}
.tundra .dijitTreeNodeRtl .dijitTreeExpandoClosed {
    background-image: url("images/treeExpand_plus_rtl.gif");
}
.tundra .dijitTitlePaneRtl .dijitClosed .dijitArrowNode {
    background-position: -7px 0;
}
.tundra .dijitTabRtl {
    -moz-box-orient: horizontal;
    text-align: right;
}
.tundra .dijitTabRtl .dijitTabInnerDiv {
    padding: 2px 9px 2px 8px;
}
.tundra .tabStrip-disabled .tabStripButtonRtl .dijitTabInnerDiv {
    padding-bottom: 3px;
    padding-top: 1px;
}
.tundra .tabStripButtonRtl .dijitTabInnerDiv {
    padding: 3px 2px 4px;
}
.tundra .dijitTabPaneWrapper {
}
.dj_ie-rtl .tundra .dijitTabContainerLeft-tabs {
    margin-left: 1px !important;
}
.dj_ie-rtl .tundra .dijitTabContainerRight-tabs {
    margin-right: 1px !important;
}
.tundra .dijitTabContainerLeft-tabs .dijitTabRtl, .tundra .dijitTabContainerRight-tabs .dijitTabRtl {
    margin-left: 0;
}
.dj_ie .tundra .dijitTabRtl .dijitTabInnerDiv {
    width: 0.1% !important;
}
.dj_iequirks-rtl .tundra .dijitTabContainerTopNone, .dj_iequirks-rtl .tundra .dijitTabContainerBottomNone {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.tundra .dijitSliderRtl .dijitSliderProgressBarH, .tundra .dijitSliderRtl .dijitSliderRemainingBarH, .tundra .dijitSliderRtl .dijitSliderLeftBumper, .tundra .dijitSliderRtl .dijitSliderRightBumper, .tundra .dijitSliderRtl .dijitSliderTopBumper {
    background-position: right top;
}
.tundra .dijitSliderRtl .dijitSliderProgressBarV, .tundra .dijitSliderRtl .dijitSliderRemainingBarV, .tundra .dijitSliderRtl .dijitSliderBottomBumper {
    background-position: right bottom;
}
.tundra .dijitSliderRtl .dijitSliderLeftBumper {
    border-left-width: 0;
    border-right-width: 1px;
}
.tundra .dijitSliderRtl .dijitSliderRightBumper {
    border-left-width: 1px;
    border-right-width: 0;
}
.tundra .dijitSliderDecrementIconH {
    background-position: 0 0;
}
.tundra .dijitSliderIncrementIconH {
    background-position: -30px 0;
}
